.root:global(.__wab_instance) {
  position: relative;
  background: #185adb;
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-c_2lEc1TPlws);
  font-family: var(--token-QR0jtqs8d9-G);
  font-size: var(--token-v5WGmagWGAlD);
  line-height: var(--token-pVnN5GiVW2qH);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-kq2wpuO2ZOXQ);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-dHDRN4DPCZKE);
  outline-offset: 1px;
  outline-color: var(--token-dATVF5-RYDiZ);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-7aoseL7lGVK_);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-lTgs4o5CRKYr);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token--5PPys8zIaoG);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-Qd-WjDPHdVqi);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-7q1PtiWYyPTX);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-nDjRNUOJhgLe);
  font-size: var(--token-37y5RA7nX8uW);
  column-gap: var(--token-dHDRN4DPCZKE);
  row-gap: 0px;
  border-radius: var(--token-8yg5rEfpuKe1);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-37y5RA7nX8uW);
  line-height: var(--token-nDjRNUOJhgLe);
  column-gap: var(--token-8yg5rEfpuKe1);
  row-gap: 0px;
  border-radius: var(--token-8yg5rEfpuKe1);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-isCeHFM-ykyB);
  line-height: var(--token-F-j_W89bf9Dw);
  padding: 8px 16px;
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-isCeHFM-ykyB);
  line-height: var(--token-F-j_W89bf9Dw);
  padding: 16px 32px;
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-e1zaLDE4JLjh);
  border-radius: var(--token-kq2wpuO2ZOXQ);
}
.softBackgroundcolor_neutral {
  background: var(--token-Q9qsbNVzNtAZ);
}
.softBackgroundcolor_muted {
  background: var(--token-Hktzlosnk4f7);
}
.softBackgroundcolor_success {
  background: var(--token-ZFS6vCXxsLTC);
}
.softBackgroundcolor_warning {
  background: var(--token-Q7rvuy8cPpv3);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-JKJVQu6DCEyk);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-kq2wpuO2ZOXQ);
  border: 0px solid var(--token-0dvwiB1kMTwz);
}
.bordercolor_neutral {
  border-color: var(--token-NPO7xhJ3oBr5);
}
.bordercolor_muted {
  border-color: var(--token--NYChVIWR7NY);
}
.bordercolor_success {
  border-color: var(--token-OEmZTCzG7qiw);
}
.bordercolor_warning {
  border-color: var(--token-6yuoaZI0Xy6I);
}
.bordercolor_errorDestructive {
  border-color: var(--token-uvbtbwblVvme);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
  border-color: #185adb;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-kq2wpuO2ZOXQ);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-4h41QOugIRqG);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-W_EfUPREYOLT);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-MHmm1UtHTOkF);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__lfIwC {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-kq2wpuO2ZOXQ) var(--token-BTtPTJISV3MQ);
}
.freeBox__lfIwC > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-kq2wpuO2ZOXQ));
  width: calc(100% + var(--token-kq2wpuO2ZOXQ));
}
.freeBox__lfIwC > :global(.__wab_flex-container) > *,
.freeBox__lfIwC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lfIwC > :global(.__wab_flex-container) > picture > img,
.freeBox__lfIwC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-kq2wpuO2ZOXQ);
}
.freeBoxsize_extraSmall__lfIwCj64F1 {
  padding: var(--token-8yg5rEfpuKe1) var(--token-kq2wpuO2ZOXQ);
}
.freeBoxsize_small__lfIwCpjY2C {
  padding: var(--token-kq2wpuO2ZOXQ) var(--token-c_2lEc1TPlws);
}
.freeBoxsize_large__lfIwCq4X7W {
  padding-top: var(--token-8yg5rEfpuKe1);
  padding-bottom: var(--token-8yg5rEfpuKe1);
}
.freeBoxsize_extraLarge__lfIwCUyx31 {
  padding-left: var(--token-LGrrbgxl8Ueu);
  padding-right: var(--token-LGrrbgxl8Ueu);
}
.freeBoxroundedFull__lfIwCixu23 {
  padding-right: var(--token-LGrrbgxl8Ueu);
  padding-left: var(--token-LGrrbgxl8Ueu);
}
.freeBox__s9TWq {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__s9TWQaXnt {
  display: flex;
}
.slotTargetStart {
  color: var(--token-gtgRuSqASCya);
}
.slotTargetStartcolor_neutral {
  color: var(--token-tS5CM-KNghCf);
}
.slotTargetStartcolor_muted {
  color: var(--token-NJmQrdl5JPIB);
}
.slotTargetStartcolor_success {
  color: var(--token-7rSqoSTYLxgM);
}
.slotTargetStartcolor_warning {
  color: var(--token-zAFHfHgZcnY_);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-pCLNUwE9em-7);
}
.slotTargetStarttype_soft {
  color: var(--token-6G-E7fRUgUul);
}
.slotTargetStarttype_bordered {
  color: var(--token-6G-E7fRUgUul);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-37y5RA7nX8uW);
}
.slotTargetStartsize_small {
  font-size: var(--token-37y5RA7nX8uW);
}
.slotTargetStartsize_large {
  font-size: var(--token-isCeHFM-ykyB);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-isCeHFM-ykyB);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-8e416-0ZOMUl);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-8e416-0ZOMUl);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-tWnk746cBmXo);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-tWnk746cBmXo);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-nHF4Fzbgvjl8);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-nHF4Fzbgvjl8);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-PMs_U353FFQO);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-PMs_U353FFQO);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-Y7AGs3EuYu9W);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-Y7AGs3EuYu9W);
}
.svg__yy4PH {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-gtgRuSqASCya);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-tS5CM-KNghCf);
}
.slotTargetLabelcolor_muted {
  color: var(--token-NJmQrdl5JPIB);
}
.slotTargetLabelcolor_success {
  color: var(--token-7rSqoSTYLxgM);
}
.slotTargetLabelcolor_warning {
  color: var(--token-zAFHfHgZcnY_);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-pCLNUwE9em-7);
}
.slotTargetLabeltype_soft {
  color: var(--token-6G-E7fRUgUul);
}
.slotTargetLabeltype_bordered {
  color: var(--token-6G-E7fRUgUul);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-8e416-0ZOMUl);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-tWnk746cBmXo);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-8e416-0ZOMUl);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-nHF4Fzbgvjl8);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-tWnk746cBmXo);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-PMs_U353FFQO);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-nHF4Fzbgvjl8);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-Y7AGs3EuYu9W);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-PMs_U353FFQO);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-Y7AGs3EuYu9W);
}
.text__bCRka {
  white-space: pre;
}
.freeBox__mm6Mb {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__mm6MbRv1Xo {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-gtgRuSqASCya);
}
.slotTargetEndcolor_neutral {
  color: var(--token-tS5CM-KNghCf);
}
.slotTargetEndcolor_muted {
  color: var(--token-NJmQrdl5JPIB);
}
.slotTargetEndcolor_success {
  color: var(--token-7rSqoSTYLxgM);
}
.slotTargetEndcolor_warning {
  color: var(--token-zAFHfHgZcnY_);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-pCLNUwE9em-7);
}
.slotTargetEndtype_soft {
  color: var(--token-6G-E7fRUgUul);
}
.slotTargetEndtype_bordered {
  color: var(--token-6G-E7fRUgUul);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-37y5RA7nX8uW);
}
.slotTargetEndsize_small {
  font-size: var(--token-37y5RA7nX8uW);
}
.slotTargetEndsize_large {
  font-size: var(--token-isCeHFM-ykyB);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-isCeHFM-ykyB);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-8e416-0ZOMUl);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-8e416-0ZOMUl);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-tWnk746cBmXo);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-tWnk746cBmXo);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-nHF4Fzbgvjl8);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-nHF4Fzbgvjl8);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-PMs_U353FFQO);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-PMs_U353FFQO);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-Y7AGs3EuYu9W);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-Y7AGs3EuYu9W);
}
.svg___23W54 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
